#chatbox{
    

    height:80vh;
    width:100%;
  border-style:outset;
  border-color:black;
  border-width:2px;
  margin-left:-20px;
  
 
    

}
#wagerBar{
    margin-bottom:10vh;
    border-style:solid;
    border-width:1px;
    border-color:black;
}
#wagerBar div{
    color:white;
    font-family: 'Slabo 27px', 'PT Sans', 'Roboto Slab';
    font-weight:bold;
    font-size:1em;
    padding:2px;
  
}
#heads, #tails{
    
    border-radius:50%;
    align-self:center;
    height:100px;
    width:100px;


}
#gameRules{

margin-top:5px;
margin-left:10vw;

}


body{
 
    
    background-image:url('images/master_yoda_star_wars-wallpaper-1920x1200.jpg');
    background-size:cover;
}
#background-color-div{

    background-color:rgba(16, 17, 21, 0.61);

}
#gameBox{
    height:50vh;
    width:100%;
    border-style:solid;
    border-width:1px;
    border-color:black;
}
span{
    text-decoration: underline;

}
#historyBox{
    border-style:solid;
    border-width:1px;
    color:red;
    height:10vh;
    width:15vw;


}








@media only screen and (max-width: 765px) {
   #chatbox{
    height:25vh;

   }
}