#chatbox{
    

    height:80vh;
    width:100%;
  border-style:outset;
  border-color:black;
  border-width:2px;
    

}
#wagerBar{
    margin-bottom:10vh;
}
#wagerBar div{
    color:white;
    font-family: 'Slabo 27px', 'PT Sans', 'Roboto Slab';
    font-weight:bold;
    font-size:1em;
}
#heads, #tails{
    
    border-radius:50%;
    align-self:center;
    height:100px;
    width:100px;


}
#gameRules{

margin-top:5px;
margin-left:10vw;

}


body{
    background-color:#625E5E;
}









@media only screen and (max-width: 765px) {
   #chatbox{
    height:25vh;

   }
}